<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="1">
<!--    Thread count means ke ke yahn maine 1 rakha ha and ive got 2 test cases so mai ye kahonga ke 1 testcase kai end hone ka wait kro jb end hojaye then 2nd testcase run kro-->
    <test verbose="2" preserve-order="true" name="C:/Users/USER/Desktop/TestNG with reporting">
        <classes>
            <class name="TestCases.CopyHomepg">
            </class>
<!--            <class name="TestCases.MenpageTest">-->
<!--            </class>-->
        </classes>
    </test>

    <test name="newtest">
        <classes>
            <class name="TestCases.CopyHomepg">
            </class>
            <!--            <class name="TestCases.MenpageTest">-->
            <!--            </class>-->
        </classes>
    </test>

<!--    <test name="Quantity">-->
<!--        <parameter name="val" value="2"></parameter>-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="sanity"></include>-->
<!--            </run>-->
<!--        </groups>-->

<!--        <classes>-->
<!--            <class name="TestCases.CheckpgTest">-->
<!--            </class>-->
<!--            <class name="TestCases.CartpgTest">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="exiting">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <exclude name="sanity"></exclude>-->
<!--            </run>-->
<!--        </groups>-->

<!--        <classes>-->
<!--        <class name="TestCases.CartpgTest">-->
<!--        </class>-->
<!--        </classes>-->

<!--    </test>-->
</suite>