<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
<!--        <listener class-name="listener.ExtentReportListener"></listener>-->
<!--        <listener class-name="listener.Transformer"></listener>-->
<!--        <listener class-name="listener.iinvokemethod"></listener>-->
<!--        <listener class-name="listener.suitelistener"></listener>-->
        <listener class-name="listener.ReportManager"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/USER/Desktop/TestNG Reporting">
        <classes>
            <class name="TestCases.Testing">
            </class>

        </classes>
    </test>
</suite>