<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listeners.ExtentReportListener"></listener>
        <listener class-name="Listeners.Transform"></listener>
        <listener class-name="Listeners.suitelistener"></listener>
        <listener class-name="Listeners.ReportManager"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/USER/IdeaProjects/SwagLabsProject">
        <classes>
            <class name="Testing.LoginTest">
            </class>
            <class name="Testing.HomepgTest">
            </class>
            <class name="Testing.CartpgTest">
            </class>
            <class name="Testing.CheckoutpgTest">
            </class>
            <class name="Testing.FinishpgTest">
            </class>
            <class name="Testing.FlushingTest">
            </class>
        </classes>
    </test>
</suite>