<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="customer">
    <test verbose="2" preserve-order="true" name="Customer">
        <classes>
            <class name="Testing.HomepgTest">
            </class>
            <class name="Testing.LoginpgTest">
            </class>
            <class name="Testing.DepositpgTest">
            </class>
            <class name="Testing.WithdrawpgTest">
            </class>
            <class name="Testing.TransacpgTest">
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="bank manager">
    <classes>
        <class name="Testing.HomepgTest2"></class>
        <class name="Testing.AddcustTest"></class>
        <class name="Testing.FlushingTest"></class>
    </classes>
    </test>
</suite>